/*//////Table/////////*/
.table{
  padding: 20px;
}
.title-commandes{
    
  padding: 20px;
}
table{
  
  border-collapse: collapse;
  width: 100%;
  
 
}

th{
  background:#5784BA ;
  color: white;
  
  font-weight: normal;
  font-size: 1.1rem;
  
}
tr:nth-child(even) td {
  background: rgba(244, 207, 223, 0.3);
}
td{
  padding-top: 15px;
  padding-bottom: 10px;
  color: #808080;
  text-align: center;
}


td, th{
  padding: 15px 10px;
  
}
table a{
  text-decoration: none;
}
.box-number{
      width: 3rem;
}  



  /* 2eme table ////*/
.table{
  padding: 20px;
}

  .title-commandes{
    
    padding: 20px;
  }
  table{
    
    border-collapse: collapse;
    width: 100%;
    
   
  }
  
  th{
    background:#5784BA ;
    color: white;
    
    font-weight: normal;
    font-size: 1.1rem;
    
  }
  tr:nth-child(even) td {
    background: rgba(244, 207, 223, 0.3);
  }
  td{
    padding-top: 15px;
    padding-bottom: 10px;
    color: #808080;
    text-align: center;
  }
  
  
  td, th{
    padding: 15px 10px;
    
  }
  table a{
    text-decoration: none;
  }
  .box-number{
        width: 3rem;
  }  
  
  /******* Media Q *********/


@media screen and (max-width: 992px){
    
} 

@media screen and (max-width: 768px){
  table{
    width: 100%;
    font-size: .9em;
  } 
  .table-inside tbody{
    display: grid;
    grid-template-columns: repeat(2, 1fr);

  }
  table tr{
    display: grid;
    flex-direction: column;
    border: 1px solid grey;
    padding: 1em;
    margin-bottom: 1em;
  }

  table td[data-title]{
    display: flex;

  }
  table td[data-title]::before{
    content: attr(data-title);
    width: 120px;
    font-size: .8em;
    font-weight: bold;
    height: 100%;
  }

  table thead{
    display: none;
  }
  
}

@media screen and (max-width: 375px){
  .table-inside tbody{
    display: flex;
    flex-direction: column;


  }
  table{
    min-width: 100%;
    font-size: .9em;
  }
  
  
  tr{
    display: flex;
    flex-direction: column;
    border: 1px solid grey;
    padding: 1em;
    margin-bottom: 1em;
  }
  td[data-title]{
    display: flex;

  }
  td[data-title]::before{
    content: attr(data-title);
    width: 100px;
    
    font-weight: bold;
  }

  thead{
    display: none;
  }

}




  


