h2 {
  margin: 1rem 0 0 1rem;
}

p {
  border: solid  #9AC8EB;
  margin: 1rem 0 0 1rem;
  width: 20%;
  padding: 0.5rem;
  border-radius: 0.5rem;
}

span {
  margin-left: 0.5%;
}

table {
  display: grid;
  border-collapse: collapse;
  min-width: 100%;
  margin-top: 5%;
  grid-template-columns: 
    minmax(150px, 1fr)
    minmax(150px, 1.67fr)
    minmax(150px, 1.67fr)
    minmax(150px, 1.67fr)
    minmax(150px, 1.33fr)
    minmax(150px, 1.67fr)
    minmax(150px, 1.33fr);
}

thead,
tbody,
tr {
  display: contents;
}

th,
td {
  padding: 15px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

a {
  text-decoration: none;
}

th {
  position: sticky;
  top: 0;
  background: #5784BA;
  text-align: left;
  font-weight: normal;
  font-size: 1.1rem;
  color: white;
}

th:last-child {
  border: 0;
}

td {
  padding-top: 10px;
  padding-bottom: 10px;
  color: #808080;
}

tr:nth-child(even) td {
  background: rgba(244, 207, 223, 0.3);
}