
:root {
  --shadow-color: 0deg 0% 60%;
}

h2 {
  margin: 1rem 0 0 1rem;
}

p {
  box-shadow:  0px 0.3px 0.4px hsl(var(--shadow-color) / 0.13),
    0px 0.9px 1.2px -0.4px hsl(var(--shadow-color) / 0.19),
    0px 2px 2.6px -0.9px hsl(var(--shadow-color) / 0.25),
    0.1px 4.4px 5.7px -1.3px hsl(var(--shadow-color) / 0.31);
  margin: 1rem 0 0 1rem;
  width: 20%;
  padding: 0.5rem;
  border-radius: 0.5rem;
}

span {
  margin-left: 0.5%;
}

table {
  display: grid;
  border-collapse: collapse;
  min-width: 100%;
  margin-top: 5%;
  grid-template-columns:
    minmax(150px, 1fr)
    minmax(150px, 1.67fr)
    minmax(150px, 1.67fr)
    minmax(150px, 1.67fr)
    minmax(150px, 1.33fr)
    minmax(150px, 1.67fr)
    minmax(150px, 1.33fr);
}

thead,
tbody,
tr {
  display: contents;
}

th,
td {
  padding: 15px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

a {
  text-decoration: none;
}
th {
  position: sticky;
  top: 0;
  background: #5784BA;
  text-align: left;
  font-weight: normal;
  font-size: 1.1rem;
  color: white;
}

th:last-child {
  border: 0;
}

td {
  padding-top: 10px;
  padding-bottom: 10px;
  color: #808080;
}

tr:nth-child(even) td {
  background: rgba(244, 207, 223, 0.3);
}

@media screen and (max-width:992px) {
  h2 {
    text-align: center;
  }
  .paragraph {
    display: flex;
    justify-content: center;
  }
  p{
    width: 100%;
    padding: 20px;
  }
  table {
    grid-template-columns: 
      minmax(50px, 1fr)
      minmax(100px, 1.67fr)
      minmax(100px, 1.67fr)
      minmax(100px, 1.67fr)
      minmax(100px, 1.33fr)
      minmax(100px, 1.67fr)
      minmax(100px, 1.33fr);
  }
     
}

@media screen and (max-width: 768px) and (max-width: 375px) {
  .table-container {
    overflow-x: auto;
}

.container-title {
    display: flex;
    flex-flow: column;
    justify-content: center;
}
.container-tile > h2 {
    margin-left: 0;
}
.paragraph{
    display: block;
}
.paragraph article > p {
    margin:0;
}
.paragraph article {
    text-align: center;
}

}
