
table {
  display: grid;
  border-collapse: collapse;
  min-width: 100%;
  grid-template-columns: 
    minmax(150px, 1fr)
    minmax(150px, 1.67fr)
    minmax(150px, 1.67fr)
    minmax(150px, 1.67fr)
    minmax(150px, 3.33fr)
    minmax(150px, 1.67fr)
    minmax(150px, 3.33fr)
    minmax(150px, 1.67fr);
  }
  
  thead,
  tbody,
  tr {
    display: contents;
  }
  
  th,
  td {
    padding: 15px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  
  th {
    position: sticky;
    top: 0;
    background: #5784BA;
    text-align: left;
    font-weight: normal;
    font-size: 1.1rem;
    color: white;
  }
  
  th:last-child {
    border: 0;
  }
  
  td {
    padding-top: 10px;
    padding-bottom: 10px;
    color: #808080;
  }
  
  tr:nth-child(even) td {
    background: rgba(244, 207, 223, 0.3);
  }

  #validbutton {
    background-color: #5784BA;
    border: none;
    font-size: 16px;
    color: white;
    width: 160px;
    height: 50px;
    border-radius: 50px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    cursor: pointer;
    transition: all 100ms ease;
  }
  
 #validbutton:hover {
    box-shadow: none;
    opacity: 0.9;
    transform: translateY(3px);
  }

  h2 {
      font-family: Rowdies;
      margin:1rem 0 0 1rem;

  }

  .inputs {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    margin: 20px;
  }

  table {
    margin-top: 50px;
  }
  
  .instock {
    color: green;
  }

  .nostock {
    color: red;
  }